body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
  }

  header{
    padding: 20px 35px;
    background-color: #E5FCE3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
  color: #000000;
  text-decoration: none;
}
header nav{
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
header nav ul li a{
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quiz-wrapper{
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}
.countdown{ 
  text-align: center;
  display: none;
}
.quiz-question{
  color: var(--primary-color);
}
.quiz-body{
  color: var(--primary-color);
  text-align: left;
  height: 380px;
}
.timer{
  font-size: 14px;
  font-weight: bold;
  padding-top: 12px;
}
  
  /* background color for the question / answer container */
  #test{
    border:#5AB029 3px solid;
    padding:10px 40px 40px 40px;
    background-color:#E5FCE3;
    width:50%;}

  .question{
    font-weight: 600;
  }
  .answers {
      margin-bottom: 20px;
  }
  #submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #submit:hover{
    background-color: #3a8;
  }